@*@{
        ViewData["Title"] = "Login";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<h1>Login</h1>

<div class="col-lg-12 p-2">
    <a target="_self" href="~/Login/Auth?provider=facebook" class="btn btn-block btn-primary">
        <span class="icon-facebook2"></span> Facebook
    </a>
</div>